{% extends 'main/base.html' %}
{% load static %}
{% block content %}

			<!-- HERO-2
			============================================= -->	
			<section id="hero-2" class="bg-fixed hero-section division">
				<div class="bg-fixed bg-inner division">

					<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
						<div class="toast" style="position: absolute; top: 0; right: 0;">
						  <div class="toast-header">
							<img src="..." class="rounded mr-2" alt="...">
							<strong class="mr-auto">Bootstrap</strong>
							<small>11 mins ago</small>
							<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="toast-body">
							Hello, world! This is a toast message.
						  </div>
						</div>
					  </div>


					<!-- HERO TEXT -->
					<div class="container">							
						<div class="row">
							<div class="col-lg-10 offset-lg-1">
								<div class="hero-2-txt text-center">

									<!-- Title -->
									<h2 class="red-color shadow-txt-white">Big burger, little money</h2>

									<!-- Image -->
									<div class="hero-2-img">
										
										<img class="img-fluid" src="{% static 'main/images/hero-2-img.png'%}" alt="hero-image">	

										<!-- Price Badge -->
										<div class="price-badge-sm bg-fixed white-color1">
											<div class="badge-txt">
												<h5 class="h5-md">From</h5>
												<h4 class="h4-lg">$6.99</h4>
											</div>
										</div>	

									</div>

								</div>  
							</div>	 
						</div>	 <!-- End row -->
					</div>	 <!-- END HERO TEXT -->


					<!-- SECTION OVERLAY -->	
					<div class="bg-fixed white-overlay-wave"></div>


				</div>	   <!-- End Bg Inner -->
			</section>	<!-- END HERO-2 -->	




			<!-- MENU-8
			============================================= -->
			<section id="menu-8" class="wide-70 menu-section division">
				<div class="container">


					<!-- TABS NAVIGATION -->
					<div id="tabs-nav">
					 	<div class="row">
							<div class="col-lg-12 text-center">
						 		<ul class="tabs-1 ico-55 red-tabs clearfix">
						 			{% for c in categories|slice:":4" %}
										<li class="tab-link {% if categories.first == c %} current {% endif %}" data-tab="tab-{{c.id}}">
											<span class="flaticon-{{ c.image }}"></span> 
											<h5 class="h5-sm">{{ c.name }}</h5>
										</li>
									{% endfor %}

								</ul>
							</div>
						</div>	
				 	</div> <!-- END TABS NAVIGATION -->


				 	<!-- TABS CONTENT -->
				 	<div id="tabs-content">

						{% for c in categories|slice:":4" %}
							<!-- TAB-1 CONTENT -->
							<div id="tab-{{ c.id }}" class="tab-content {% if categories.first == c %} current {% endif %}">
								<div class="row">
									{% for p in c.prod_cat.all %}
										<!-- MENU ITEM #1 -->
										<div class="col-sm-6 col-lg-3">
											<div class="menu-7-item">

												<!-- IMAGE -->
												<div class="menu-7-img rel">
						
													<!-- Image -->
													<a href="/product/{{ p.pk }}"><img class="img-fluid" src="{{ p.image_prod.first.image.url }}" alt="menu-image" /></a>

													<!-- Price -->
													<div class="menu-7-price bg-coffee">
														<h5 class="h5-xs yellow-color">{% if p.discount %}{{ p.discount }}{% else %}{{ p.price }}{% endif %} $</h5>
													</div>

													<!-- Rating -->
													<div class="item-rating">
														<div class="stars-rating stars-lg">
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star-half-alt"></i>
														</div>		
													</div>	

													<!-- Like Icon -->
													<div class="like-ico ico-20">
														<a href="#"><span class="flaticon-heart"></span></a>
													</div>

												</div>

												<!-- TEXT -->
												<div class="menu-7-txt rel">

													<!-- Title -->
													<h5 class="h5-sm"><a href="/product/{{ p.pk }}">{{ p.name }}</a></h5>

													<!-- Description -->
													<p class="grey-color">{{ p.description }}</p>

													<!-- Button -->
													<a href="/add-cart/?id={{p.pk}}" class="btn btn-sm btn-tra-grey yellow-hover">
														<span class="flaticon-shopping-bag"></span> Add to Cart
													</a>

												</div>

											</div>
										</div>	<!-- END MENU ITEM #1 -->
									{% endfor %}
								</div>  <!-- End row -->	
							</div>	<!-- END TAB-1 CONTENT -->
						{% endfor %}

				 	</div>	<!-- END TABS CONTENT -->


				</div>	   <!-- End container -->
			</section>	<!-- END MENU-8 -->




			<!-- PROMO-11
			============================================= -->
			<section id="promo-11" class="bg-fixed promo-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- PROMO TEXT -->
						<div class="col-md-5 col-lg-4">
							<div class="pbox-11-txt mb-40 white-color">

								<!-- Title -->
								<h3 class="h3-lg">The</h3>
								<h2>County General</h2>

								<!-- Text -->
								<p class="p-md">Semper lacus cursus porta a primis feugiat ligula risus auctor rhoncus semper undo</p>

								<!-- Button -->
								<a href="product-single.html" class="btn btn-lg btn-red tra-white-hover">Order Now</a>

							</div>
						</div>


						<!-- PROMO IMAGE -->
						<div class="col-md-7 col-lg-6">
							<div class="pbox-11-img mb-40">

								<!-- Image -->	
								<img class="img-fluid" src="{% static 'main/images/promo-11-img.png'%}" alt="promo-image" />

								<!-- Price Badge -->
								<div class="red-badge price-badge-lg bg-fixed">
									<div class="badge-txt white-color">
										<h5 class="h5-xl">Only</h5>
										<h3 class="h3-sm">$9.99</h3>
										<span class="item-code">Code: 0841</span>
									</div>
								</div>

							</div>
						</div>


						<!-- PROMO LINKS -->
						<div class="col-lg-2">

							<!-- Link -->
							<div class="pbox-11-link text-center white-color">
								<a href="product-single.html">
									<img class="img-fluid" src="{% static 'main/images/menu/burger-02.png'%}" alt="promo-image" />
									<p>Ultimate Bacon Burger</p>
								</a>
							</div>

							<!-- Link -->
							<div class="pbox-11-link text-center mb-40 white-color">
								<a href="product-single.html">
									<img class="img-fluid" src="{% static 'main/images/menu/burger-05.png'%}" alt="promo-image" />
									<p>Grilled Chicken Burger</p>
								</a>
							</div>

						</div>


					</div>    <!-- End row -->		
				</div>	   <!-- End container -->	
			</section>	<!-- END PROMO-11 -->




			<!-- MENU-6
			============================================= -->
			<section id="menu-6" class="wide-70 menu-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="section-title mb-60 text-center">	

								<!-- Title 	-->	
								<h2 class="h2-xl red-color">Our Crazy Burgers</h2>	

								<!-- Text -->	
								<p class="p-xl">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor 
								   primis libero tempus, blandit a cursus varius magna
								</p>
									
							</div>	
						</div>
					</div>


					<div class="row">

						{% for b in burgers %}
							<!-- MENU ITEM #1 -->
							<div class="col-sm-6 col-lg-3">
								<div class="menu-6-item bg-white">

									<!-- IMAGE -->
									<div class="menu-6-img rel">
										<div class="hover-overlay">

											<!-- Image -->
											<img class="img-fluid" src="{{ b.image_prod.first.image.url }}" alt="menu-image" />	

											<!-- Zoom Icon -->
											<div class="menu-img-zoom ico-25">
												<a href="{{ b.image_prod.first.image.url }}" class="image-link">
													<span class="flaticon-zoom"></span>
												</a>
											</div> 

										</div>
									</div>

									<!-- TEXT -->
									<div class="menu-6-txt rel">

										<!-- Rating -->	
										<div class="item-rating">
											<div class="stars-rating stars-lg">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star-half-alt"></i>
											</div>		
										</div>

										<!-- Like Icon -->
										<div class="like-ico ico-25">
											<a href="#"><span class="flaticon-heart"></span></a>
										</div>

										<!-- Title -->
										<h5 class="h5-sm">{{ b.name }}</h5>

										<!-- Description -->	
										<p class="grey-color">{{ b.description }}</p>

										<!-- Price -->
										<div class="menu-6-price bg-coffee">
											<h5 class="h5-xs yellow-color">{% if b.discount %}{{ b.discount }}{% else %}{{ b.price }}{% endif %} $</h5>
										</div>

										<!-- Add To Cart -->
										<div class="add-to-cart bg-yellow ico-10">
											<a href="/add-cart/?id={{b.pk}}"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
										</div>

									</div>

								</div>
							</div>	<!-- END MENU ITEM #1 -->
						{% endfor %}

					</div>	  <!-- End row -->	
				</div>	   <!-- End container -->
			</section>	<!-- END MENU-6 -->




			<!-- ABOUT-1
			============================================= -->
			<section id="about-1" class="bg-fixed wide-100 about-section division">
				<div class="container">
					<div class="row">


						<!-- ABOUT TEXT -->
						<div class="col-xl-10 offset-xl-1">
							<div class="about-1-txt text-center">

								<!-- Title -->
								<h2><span class="yellow-color">Burgers…</span> what else?</h2>

								<!-- Text -->
								<p class="p-xl grey-color">Porta semper lacus cursus, feugiat primis ultrice a ligula risus auctor an 
								   tempus feugiat dolor lacinia cubilia curae integer orci congue and metus mollislorem primis in integer 
								   metus curae integer orci congue integer and primis in integer metus  mollis faucibus 
								</p>

								<!-- Icons List -->	
								<div class="abox-1-wrapper ico-75">
									<div class="row">
										{% for c in categories %}
											<!-- ABOUT BOX #1 -->		
											<div class="col-sm-4 col-md-2">
												<div class="abox-1 mb-40">

													<!-- Icon --> 
													<div class="abox-1-ico grey-color"><span class="flaticon-{{c.image}}"></span></div>

													<!-- Text -->
													<h6 class="h6-xl">{{ c.name }}</h6>

												</div>
											</div>
										{% endfor %}

									</div>
								</div>	<!-- End Icons List -->

								<!-- Button -->
								<a href="/menu/" class="btn btn-md btn-red tra-red-hover">Explore Full Menu</a>

							</div>
						</div>	<!-- END ABOUT TEXT -->


					</div>    <!-- End row -->
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT-1 -->




			<!-- PROMO-14
			============================================= -->
			<section id="promo-14" class="wide-100 promo-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- PROMO BOX #1 -->
						<div class="col-lg-5">
							<a href="product-single.html">
								<div id="pb-14-1" class="pbox-14-item bg-yellow">
									

									<!-- Image -->
									<div class="pbox-14-img text-center mb-25 rel">	

										<!-- Image -->	
										<img class="img-fluid" src="{% static 'main/images/menu/burger-06.png'%}" alt="promo-image" />
									
										<!-- Price Badge -->
										<div class="red-badge price-badge-sm bg-fixed">
											<div class="badge-txt white-color">
												<h5 class="h5-sm">Only</h5>
												<h4 class="h4-md">$7.99</h4>
											</div>
										</div>

									</div>

									<div class="pbox-14-txt">

										<!-- Title -->
										<h5 class="h5-xl">Smokey House Burger</h5>

										<!-- Description -->
										<p>Beef patty, cheddar cheese, onion, lettuce, tomatoes, pickles</p>

									</div>
								</div>
							</a>
						</div>	<!-- END PROMO BOX #1 -->


						<!-- PROMO BOXS CAROUSEL -->
						<div class="col-lg-7">
							<div class="pbox-carousel">
								<div class="owl-carousel promo-8-carousel">
							
									{% for f in fries %}
										<!-- PROMO BOX #2 -->
										<div class="pbox-14-item">

											<!-- IMAGE -->
											<div class="pbox-14-img rel">
					
												<!-- Image -->
												<img class="img-fluid" src="{{ f.image_prod.first.image.url }}" alt="menu-image" />

												<!-- Price -->
												<div class="pbox-14-price bg-coffee">
													<h5 class="h5-xs yellow-color">{% if f.discount %} {{ f.discount }}{% else %} {{ f.price }} {% endif %} $</h5>
												</div>

												<!-- Rating -->
												<div class="item-rating">
													<div class="stars-rating stars-lg">
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star-half-alt"></i>
													</div>		
												</div>	

												<!-- Like Icon -->
												<div class="like-ico ico-20">
													<a href="#"><span class="flaticon-heart"></span></a>
												</div>

											</div>

											<!-- TEXT -->
											<div class="pbox-14-txt rel">

												<!-- Title -->
												<h5 class="h5-md">{{ f.name }}</h5>

												<!-- Description -->
												<p class="grey-color">{{ f.description }}</p>

												<!-- Button -->
												<a href="/add-cart/?id={{f.pk}}" class="btn btn-sm btn-tra-grey yellow-hover">
													<span class="flaticon-shopping-bag"></span> Add to Cart
												</a>

											</div>

										</div>	<!-- END PROMO BOX #2 -->
									{% endfor %}

								</div>
							</div>
						</div>	<!-- END PROMO BOXS CAROUSEL -->


					</div>    <!-- End row -->		
				</div>	   <!-- End container -->	
			</section>	<!-- END PROMO-14 -->




			<!-- PROMO-3
			============================================= -->
			<div id="promo-3" class="promo-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- PROMO IMAGE-1 -->
						<div class="col-md-6">
							<a href="menu-3.html">
								<div class="pbox-3 mb-30">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/offer-1.jpg'%}" alt="promo-image" />
									</div> 
								</div>
							</a>
						</div>


						<!-- PROMO IMAGE-2 -->
						<div class="col-md-6">
							<a href="menu-3.html">
								<div class="pbox-3 mb-30">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/offer-2.jpg'%}" alt="promo-image" />
									</div> 
								</div>
							</a>
						</div>


						<!-- PROMO IMAGE-3 -->
						<div class="col-md-6">
							<a href="menu-3.html">
								<div class="pbox-3">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/offer-3.jpg'%}" alt="promo-image" />
									</div> 
								</div>
							</a>
						</div>


						<!-- PROMO IMAGE-4 -->
						<div class="col-md-6">
							<a href="menu-3.html">
								<div class="pbox-3 pbox-3-last">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/offer-4.jpg'%}" alt="promo-image" />
									</div> 
								</div>
							</a>
						</div>


					</div>    <!-- End row -->		
				</div>	   <!-- End container -->	
			</div>	<!-- END PROMO-3 -->




			<!-- BANNER-3
			============================================= -->
			<section id="banner-3" class="bg-yellow banner-section division">
				<div class="container">
			 		<div class="row d-flex align-items-center">


			 			<!-- BANNER TEXT -->
						<div class="col-md-7 col-lg-6">
							<div class="banner-3-txt coffee-color">

								<!-- Title  -->
								<h4 class="h4-xl">Download mobile App and</h4>
								<h2>save up to 20%</h2>
								
							   <!-- Text -->	
								<p class="p-md">Aliquam a augue suscipit, luctus neque purus ipsum and neque dolor primis libero tempus, 
									blandit varius
								</p>

								<!-- Store Badges -->
								<div class="stores-badge">

									<!-- AppStore -->
									<a href="#" class="store">
										<img class="appstore-original" src="{% static 'main/images/appstore.png'%}" alt="appstore-logo" />
									</a>
													
									<!-- Google Play -->
									<a href="#" class="store">
										<img class="googleplay-original" src="{% static 'main/images/googleplay.png'%}" alt="googleplay-logo" />
									</a>
												
								</div>

							</div>
						</div>


						<!-- BANNER IMAGE -->
						<div class="col-md-5 col-lg-6">
							<div class="banner-3-img">
								<img class="img-fluid" src="{% static 'main/images/e-shop.png'%}" alt="banner-image">
							</div>
						</div>


			 		</div>      <!-- End row -->
				</div>	    <!-- End container -->		
			</section>	<!-- END BANNER-3 -->




			<!-- ABOUT-3
			============================================= -->
			<section id="about-3" class="wide-60 about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- ABOUT IMAGE -->
						<div class="col-md-5 col-lg-6">
							<div class="about-3-img text-center mb-40">
								<img class="img-fluid" src="{% static 'main/images/about-03-img.png'%}" alt="about-image">
							</div>
						</div>


						<!-- ABOUT TEXT -->
						<div class="col-md-7 col-lg-6">
							<div class="about-3-txt mb-40">

								<!-- Title -->	
								<h2 class="h2-sm">Nothing brings people together like a good burger</h2>

								<!-- Text -->
								<p class="p-md">Semper lacus cursus porta primis ligula risus tempus and sagittis ipsum mauris lectus laoreet 
								   purus ipsum tempor enim ipsum porta justo integer ultrice aligula lectus aenean magna and pulvinar purus at 
								   pretium	gravida 
								</p>

								<!-- List -->	
								<ul class="txt-list">

									<li class="list-item">
										<p class="p-md">Fringilla risus, luctus mauris orci auctor purus euismod pretium
										   purus pretium ligula rutrum tempor sapien
										</p>
									</li>

									<li class="list-item">
										<p class="p-md">Quaerat sodales sapien euismod purus blandit</p>
									</li>

									<li class="list-item">
										<p class="p-md">Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales 
										   sapien undo pretium a purus mauris
										</p>
									</li>

								</ul>

							</div>
						</div>	<!-- END ABOUT TEXT -->	


					</div>	   <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END ABOUT-3 -->




			<!-- BRANDS-1
			============================================= -->
			<div id="brands-1" class="bg-lightgrey brands-section division">
				<div class="container">					
					<div class="row">
						<div class="col text-center">	
							<div class="owl-carousel brands-carousel">
							
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-11.png'%}" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-12.png'%}" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-13.png'%}" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-14.png'%}" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-15.png'%}" alt="brand-logo">
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-16.png'%}" alt="brand-logo" />
								</div>

								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-17.png'%}" alt="brand-logo" />
								</div>
															
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="{% static 'main/images/brand-18.png'%}" alt="brand-logo" />
								</div>


							</div>
						</div>
					</div>      <!-- End row -->
				</div>	    <!-- End container -->
			</div>	<!-- END BRANDS-1 -->




			<!-- BLOG-1
			============================================= -->
			<section id="blog-1" class="wide-60 blog-section division">				
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="section-title mb-60 text-center">	

								<!-- Title 	-->	
								<h2 class="h2-xl red-color">Events & Catering</h2>	

								<!-- Text -->	
								<p class="p-xl">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor 
								   primis libero tempus, blandit a cursus varius magna
								</p>
									
							</div>	
						</div>
					</div>


					<!-- BLOG POSTS HOLDER -->
				 	<div class="row">


				 		<!-- BLOG POST #1 -->
				 		<div class="col-md-6 col-lg-4">
				 			<div class="blog-post">

				 				<!-- BLOG POST IMAGE -->
					 			<div class="blog-post-img">
					 				<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/blog/img-01.jpg'%}" alt="blog-post-image" />
									</div>	
								</div>

				 				<!-- BLOG POST TITLE -->
								<div class="blog-post-txt">

									<!-- Post Title -->
									<h5 class="h5-lg"><a href="single-post.html">Quaerat neque purus ipsum neque dolor</a></h5>

									<!-- Post Text -->
									<p class="grey-color">Quaerat neque purus ipsum neque dolor primis tempus impedit</p>

								</div>

							</div>
				 		</div>	<!-- END  BLOG POST #1 -->


				 		<!-- BLOG POST #2 -->
				 		<div class="col-md-6 col-lg-4">
				 			<div class="blog-post">

				 				<!-- BLOG POST IMAGE -->
					 			<div class="blog-post-img">
					 				<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/blog/img-02.jpg'%}" alt="blog-post-image" />
									</div>	
								</div>

				 				<!-- BLOG POST TEXT -->
								<div class="blog-post-txt">

									<!-- Post Title -->
									<h5 class="h5-lg"><a href="single-post.html">Tempor blandit sapien at gravida donec ipsum</a></h5>

									<!-- Post Text -->
									<p class="grey-color">Neque dolor primis libero tempus impedit tempor sapien gravida</p>

								</div>

							</div>
				 		</div>	<!-- END  BLOG POST #2 -->


				 		<!-- BLOG POST #3 -->
				 		<div class="col-md-6 col-lg-4">
				 			<div class="blog-post">

				 				<!-- BLOG POST IMAGE -->
					 			<div class="blog-post-img">
					 				<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/blog/img-03.jpg'%}" alt="blog-post-image" />
									</div>	
								</div>

				 				<!-- BLOG POST TEXT -->
								<div class="blog-post-txt">

									<!-- Post Title -->
									<h5 class="h5-lg"><a href="single-post.html">Neque dolor primis a libero tempus a tempor</a></h5>

									<!-- Post Text -->
									<p class="grey-color">Impedit tempor at donec sapien ipsum a neque dolor primis libero</p>

								</div>

							</div>
				 		</div>	<!-- END  BLOG POST #3 -->


					</div>	<!-- END BLOG POSTS HOLDER -->


				</div>	   <!-- End container -->		
			</section>	<!-- END BLOG-1 -->




			<!-- TESTIMONIALS-1
			============================================= -->
			<div id="reviews-1" class="bg-image bg-scroll reviews-section division">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 testimonials white-color">	


							<!-- TRANSPARENT QUOTE ICON -->
							<div class="quote-icon"></div>


							<!-- TESTIMONIALS CONTENT -->
							<div class="flexslider">											
								<ul class="slides text-center">


									<!-- TESTIMONIAL-1 -->
									<li class="review-1">
										<div class="review-1-txt">

											<!-- Testimonial Author Avatar -->
											<img src="{% static 'main/images/review-author-1.jpg'%}" alt="testimonial-avatar">

											<!-- Text -->	
											<p>" Etiam sapien sem at sagittis congue augue massa varius sodales sapien undo tempus dolor
											   egestas magna suscipit magna tempus aliquet porta sodales augue suscipit luctus neque "
											</p>

											<!-- Rating -->
											<div class="review-rating">
												<div class="stars-rating">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>

											<!-- Testimonial Author -->
											<p class="testimonial-autor">by Sean McMarthy</p>

										</div>																	
									</li>


									<!-- TESTIMONIAL-2 -->
									<li class="review-1">
										<div class="review-1-txt">

											<!-- Testimonial Author Avatar -->
											<img src="{% static 'main/images/review-author-2.jpg'%}" alt="testimonial-avatar">

											<!-- Text -->	
											<p>" At sagittis congue augue egestas egestas magna ipsum vitae purus ipsum primis in cubilia
											   laoreet augue egestas luctus donec diam ociis nullam tempor sapien, eget orci gravida porta " 
											</p>

											<!-- Rating -->
											<div class="review-rating">
												<div class="stars-rating">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>		
											</div>

											<!-- Testimonial Author -->
											<p class="testimonial-autor">by Evelyn Martinez</p>

										</div>	
												
									</li>


									<!-- TESTIMONIAL-3 -->
									<li class="review-1">
										<div class="review-1-txt">

											<!-- Testimonial Author Avatar -->
											<img src="{% static 'main/images/review-author-3.jpg'%}" alt="testimonial-avatar">

											<!-- Text -->	
											<p>" Mauris donec ociis et magnis sapien etiam sapien sem sagittis congue augue. An orci nullam
											   tempor sapien, eget orci gravida donec enim ipsum porta justo integer at odio velna auctor "
											</p>

											<!-- Rating -->
											<div class="review-rating">
												<div class="stars-rating">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>

											<!-- Testimonial Author -->
											<p class="testimonial-autor">by Robert Peterson</p>

										</div>									
																										
									</li>


									<!-- TESTIMONIAL-4 -->
									<li class="review-1">
										<div class="review-1-txt">

											<!-- Testimonial Author Avatar -->
											<img src="{% static 'main/images/review-author-4.jpg'%}" alt="testimonial-avatar">

											<!-- Text -->	
											<p>" An orci nullam tempor sapien, eget orci gravida donec enim ipsum porta justo integer at
											   odio velna auctor. Egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue "
											</p>

											<!-- Rating -->
											<div class="review-rating">
												<div class="stars-rating">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>

											<!-- Testimonial Author -->
											<p class="testimonial-autor">by Leslie Serpas</p>

										</div>										
																										
									</li>


									<!-- TESTIMONIAL #5 -->
									<li class="review-1">
										<div class="review-1-txt">

											<!-- Testimonial Author Avatar -->
											<img src="{% static 'main/images/review-author-5.jpg'%}" alt="testimonial-avatar">

											<!-- Text -->	
											<p>" Egestas egestas magna ipsum vitae purus efficitur ipsum primis in cubilia laoreet augue
											   egestas luctus donec ociis vitae purus diam integer congue magna undo impedit lacus dolor " 
											</p>

											<!-- Rating -->
											<div class="review-rating">
												<div class="stars-rating">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>		
											</div>

											<!-- Testimonial Author -->
											<p class="testimonial-autor">by Amelie Newlove</p>	

										</div>										
																										
									</li>

								</ul>
							</div>


						</div>
				 	</div>	 <!-- End row -->
				</div>	 <!-- End container -->
			</div>	<!-- END TESTIMONIALS-1 -->




			<!-- GALLERY-2
			============================================= -->		
			<section id="gallery-2" class="gallery-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="section-title mb-60 text-center">	

								<!-- Title 	-->	
								<h2 class="h2-xl red-color">Image Gallery</h2>	

								<!-- Text -->	
								<p class="p-xl">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor 
								   primis libero tempus, blandit a cursus varius magna
								</p>
									
							</div>	
						</div>
					</div>


					<!-- IMAGES HOLDER -->
					<div class="row">


						<!-- IMAGE #1 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-01.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-01.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Classic California</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>4.5</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
													<span>(23)</span>
												</div>		
											</div>										 
										</div> 

									</div>
								</a>
							</div>
						</div>


						<!-- IMAGE #2 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-02.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-02.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Margherita Pizza</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>4.52</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
													<span>(58)</span>
												</div>		
											</div>											 
										</div> 

									</div>
								</a>
							</div>
						</div>	


						<!-- IMAGE #3 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-03.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-03.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Grilled Ribs</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>4.9</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<span>(69)</span>
												</div>		
											</div>										 
										</div> 

									</div>
								</a>
							</div>
						</div>	


						<!-- IMAGE #4 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-04.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-04.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Field Greens Pizza</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>4.38</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
													<span>(41)</span>
												</div>		
											</div>											 
										</div> 

									</div>
								</a>
							</div>
						</div>	


						<!-- IMAGE #5 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-05.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-05.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Mini Chicken Pizza</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>5</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<span>(86)</span>
												</div>		
											</div>											 
										</div> 

									</div>
								</a>
							</div>
						</div>	


						<!-- IMAGE #6 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-06.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-06.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Eggs Benedict Burger</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>4.65</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
													<span>(30)</span>
												</div>		
											</div>											 
										</div> 

									</div>
								</a>
							</div>
						</div>	


						<!-- IMAGE #7 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-07.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-07.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Double Bacon Burger</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>4.85</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<span>(71)</span>
												</div>		
											</div>											 
										</div> 

									</div>
								</a>
							</div>
						</div>	


						<!-- IMAGE #8 -->
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{% static 'main/images/gallery/img-08.jpg'%}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{% static 'main/images/gallery/img-08.jpg'%}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">Classic California</h5>		
											<div class="txt-block-rating">
												<div class="stars-rating">
													<span>4.64</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
													<span>(17)</span>
												</div>		
											</div>												 
										</div> 

									</div>
								</a>
							</div>
						</div>


					</div>	<!-- END IMAGES HOLDER -->


				</div>	   <!-- End container -->
			</section>	<!-- END GALLERY-2 -->




			<!-- BANNER-4
			============================================= -->
			<section id="banner-4" class="bg-fixed wide-100 banner-section division">
				<div class="container">
			 		<div class="row">


			 			<!-- BANNER TEXT -->
						<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
							<div class="banner-4-txt text-center">

								<!-- Title  -->
								<h4 class="h4-xl">We Guarantee</h4>
								
								<!-- Title  -->
							    <h2>30 Minutes Delivery!</h2>

							    <!-- Text -->	
								<p class="p-lg">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis libero tempus, 
									blandit a cursus varius luctus neque magna
								</p>

								<!-- Call Button -->
								<a href="tel:123456789" class="btn btn-lg btn-red tra-red-hover">Call: 789-654-3210</a>

							</div>
						</div>


			 		</div>      <!-- End row -->
				</div>	    <!-- End container -->		
			</section>	<!-- END BANNER-4 -->

{% endblock content %}