{% extends 'main/base.html' %}
{% load static %}
{% block content %}
			<!-- PAGE HERO
			============================================= -->	
			<div id="menu-page" class="page-hero-section division">
				<div class="container">	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-txt text-center white-color">

								<!-- Breadcrumb -->
								<div id="breadcrumb">
									<div class="row">						
										<div class="col">
											<div class="breadcrumb-nav">
												<nav aria-label="breadcrumb">
												  	<ol class="breadcrumb">
												    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
												    	<li class="breadcrumb-item active" aria-current="page">Menu #1</li>
												  	</ol>
												</nav>
											</div>
										</div>
									</div> 
								</div>

								<!-- Title -->
								<h2 class="h2-xl">Main Menu #1</h2>

							</div>
						</div>	
					</div>	  <!-- End row -->
				</div>	   <!-- End container --> 
			</div>	<!-- END PAGE HERO -->	




			<!-- MENU-8
			============================================= -->
			<section id="menu-8" class="wide-70 menu-section division">
				<div class="container">


					<!-- TABS NAVIGATION -->
					<div id="tabs-nav">
					 	<div class="row">
							<div class="col-lg-12 text-center">
						 		<ul class="tabs-1 ico-55 red-tabs clearfix">

									{% for c in categories %}
										<li class="tab-link {% if categories.first == c %} current {% endif %}" data-tab="tab-{{c.id}}">
											<span class="flaticon-{{ c.image }}"></span> 
											<h5 class="h5-sm">{{ c.name }}</h5>
										</li>
									{% endfor %}

								</ul>
							</div>
						</div>	
				 	</div> <!-- END TABS NAVIGATION -->


				 	<!-- TABS CONTENT -->
				 	<div id="tabs-content">


						{% for c in categories %}
						<div id="tab-{{ c.id }}" class="tab-content {% if categories.first == c %} current {% endif %}">
							<div class="row">
								{% for p in c.prod_cat.all %}
									<!-- MENU ITEM #1 -->
									<div class="col-sm-6 col-lg-3">
										<div class="menu-7-item">

											<!-- IMAGE -->
											<div class="menu-7-img rel">
					
												<!-- Image -->
												<a href="/product/{{ p.pk }}"><img class="img-fluid" src="{{ p.image_prod.first.image.url }}" alt="menu-image" /></a>

												<!-- Price -->
												<div class="menu-7-price bg-coffee">
													<h5 class="h5-xs yellow-color">{% if p.discount %}{{ p.discount }}{% else %}{{ p.price }}{% endif %} $</h5>
												</div>

												<!-- Rating -->
												<div class="item-rating">
													<div class="stars-rating stars-lg">
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star-half-alt"></i>
													</div>		
												</div>	

												<!-- Like Icon -->
												<div class="like-ico ico-20">
													<a href="#"><span class="flaticon-heart"></span></a>
												</div>

											</div>

											<!-- TEXT -->
											<div class="menu-7-txt rel">

												<!-- Title -->
												<h5 class="h5-sm"><a href="/product/{{ p.pk }}">{{ p.name }}</a></h5>

												<!-- Description -->
												<p class="grey-color">{{ p.description }}</p>

												<!-- Button -->
												<a href="/add-cart/?id={{p.pk}}&m=menu" class="btn btn-sm btn-tra-grey yellow-hover">
													<span class="flaticon-shopping-bag"></span> Add to Cart
												</a>

											</div>

										</div>
									</div>	<!-- END MENU ITEM #1 -->
								{% endfor %}
							</div>  <!-- End row -->	
						</div>	<!-- END TAB-1 CONTENT -->
					{% endfor %}


				 	</div>	<!-- END TABS CONTENT -->


				</div>	   <!-- End container -->
			</section>	<!-- END MENU-8 -->




			<!-- BANNER-4
			============================================= -->
			<section id="banner-4" class="bg-fixed wide-100 banner-section division">
				<div class="container">
			 		<div class="row">


			 			<!-- BANNER TEXT -->
						<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
							<div class="banner-4-txt text-center">

								<!-- Title  -->
								<h4 class="h4-xl">We Guarantee</h4>
								
								<!-- Title  -->
							    <h2>30 Minutes Delivery!</h2>

							    <!-- Text -->	
								<p class="p-lg">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis libero tempus, 
									blandit a cursus varius luctus neque magna
								</p>

								<!-- Call Button -->
								<a href="tel:123456789" class="btn btn-lg btn-red tra-red-hover">Call: 789-654-3210</a>

							</div>
						</div>


			 		</div>      <!-- End row -->
				</div>	    <!-- End container -->		
			</section>	<!-- END BANNER-4 -->

{% endblock content %}