{% extends 'main/base.html' %}
{% load static %}
{% block content %}
			<!-- PAGE HERO
			============================================= -->	
			<div id="menu-page" class="page-hero-section division">
				<div class="container">	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-txt text-center white-color">

								<!-- Breadcrumb -->
								<div id="breadcrumb">
									<div class="row">						
										<div class="col">
											<div class="breadcrumb-nav">
												<nav aria-label="breadcrumb">
												  	<ol class="breadcrumb">
												    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
												    	<li class="breadcrumb-item active" aria-current="page">Menu #1</li>
												  	</ol>
												</nav>
											</div>
										</div>
									</div> 
								</div>

								<!-- Title -->
								<h2 class="h2-xl">Main Menu #1</h2>

							</div>
						</div>	
					</div>	  <!-- End row -->
				</div>	   <!-- End container --> 
			</div>	<!-- END PAGE HERO -->	




			<!-- MENU-8
			============================================= -->
			<section id="menu-8" class="wide-70 menu-section division">
				<div class="container">


					<!-- TABS NAVIGATION -->
					<div id="tabs-nav">
					 	<div class="row">
							<div class="col-lg-12 text-center">
						 		<ul class="tabs-1 ico-55 red-tabs clearfix">

						 			<!-- TAB-1 LINK -->
									<li class="tab-link current" data-tab="tab-1">
										<span class="flaticon-burger"></span> 
										<h5 class="h5-sm">Burgers</h5>
									</li>

									<!-- TAB-2 LINK -->
									<li class="tab-link" data-tab="tab-2">
										<span class="flaticon-fries"></span> 
										<h5 class="h5-sm">Sides</h5>
									</li>

									<!-- TAB-3 LINK -->
									<li class="tab-link" data-tab="tab-3">
										<span class="flaticon-salad-1"></span> 
										<h5 class="h5-sm">Salads</h5>
									</li>

									<!-- TAB-3 LINK -->
									<li class="tab-link" data-tab="tab-4">
										<span class="flaticon-doughnut"></span> 
										<h5 class="h5-sm">Desserts</h5>
									</li>

								</ul>
							</div>
						</div>	
				 	</div> <!-- END TABS NAVIGATION -->


				 	<!-- TABS CONTENT -->
				 	<div id="tabs-content">


				 		<!-- TAB-1 CONTENT -->
						<div id="tab-1" class="tab-content current">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-01.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.95</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Crispy Chicken</h5>

											<!-- Description -->
											<p class="grey-color">Fried chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-02.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Ultimate Bacon</h5>

											<!-- Description -->
											<p class="grey-color">House beef patty, cheddar cheese, bacon, onion, mustard</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-06.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Smokey House</h5>

											<!-- Description -->
											<p class="grey-color">Beef patty, cheddar cheese, onion, lettuce, tomatoes, pickles</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-05.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.30</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Turkey Burger</h5>

											<!-- Description -->
											<p class="grey-color">Turkey, cheddar cheese, onion, lettuce, tomatoes, pickles</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


								<!-- MENU ITEM #5 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-03.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.15</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Black Sheep</h5>

											<!-- Description -->
											<p class="grey-color">American cheese, tomato relish, avocado, lettuce, red onion</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #5 -->


								<!-- MENU ITEM #6 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-04.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.35</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Double Burger</h5>

											<!-- Description -->
											<p class="grey-color">2 beef patties, cheddar cheese, mustard, pickles, tomatoes</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #6 -->


								<!-- MENU ITEM #7 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-07.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$6.89</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Classic Burger</h5>

											<!-- Description -->
											<p class="grey-color">Beef, cheddar cheese, ketchup, mustard, pickles, onion</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #7 -->


								<!-- MENU ITEM #8 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/burger-08.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.79</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Vegan Burger</h5>

											<!-- Description -->
											<p class="grey-color">Mushroom patty, vegan cheese, lettuce, tomatoes, avocado</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #8 -->


							</div>  <!-- End row -->	
						</div>	<!-- END TAB-1 CONTENT -->


						<!-- TAB-2 CONTENT -->
						<div id="tab-2" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-01.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.85</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Onion Rings</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-02.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.69</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">French Fries</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-03.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$5.25</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Mozzarella Sticks</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-04.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$4.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Chicken Nuggets</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


								<!-- MENU ITEM #5 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-05.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$6.15</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Chicken Nuggets</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #5 -->


								<!-- MENU ITEM #6 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-06.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Chicken Fingers</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #6 -->


								<!-- MENU ITEM #7 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-07.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$5.05</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Grilled Chicken</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #7 -->


								<!-- MENU ITEM #8 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/side-08.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$4.89</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Buffalo Wings</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #8 -->


							</div>  <!-- End row -->	
						</div>	<!-- END TAB-2 CONTENT -->


						<!-- TAB-3 CONTENT -->
						<div id="tab-3" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/salad-01.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Greek Salad</h5>

											<!-- Description -->
											<p class="grey-color">Tomatoes, cucumbers, olives, feta cheese, red onion, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/salad-02.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.30</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Chicken Salad</h5>

											<!-- Description -->
											<p class="grey-color">Chicken breast, chilli sauce, lime juice, lettuce leaves, cucumber</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/salad-03.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.70</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Spinach Salad</h5>

											<!-- Description -->
											<p class="grey-color">Halloumi cheese, spinach, oranges, mint leaves, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/salad-04.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.30</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Seafood Salad</h5>

											<!-- Description -->
											<p class="grey-color">Shrimps, scallions, mayonnaise, lemon,chili sauce, salt</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


								<!-- MENU ITEM #5 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/salad-04.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$6.75</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Seafood Salad</h5>

											<!-- Description -->
											<p class="grey-color">Shrimps, scallions, mayonnaise, lemon,chili sauce, salt</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #5 -->


								<!-- MENU ITEM #6 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/salad-03.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$4.25</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Spinach Salad</h5>

											<!-- Description -->
											<p class="grey-color">Halloumi cheese, spinach, oranges, mint leaves, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #6 -->


								<!-- MENU ITEM #7 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/salad-01.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.00</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Greek Salad</h5>

											<!-- Description -->
											<p class="grey-color">Tomatoes, cucumbers, olives, feta cheese, red onion, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #7 -->


							</div>  <!-- End row -->	
						</div>	<!-- END TAB-3 CONTENT -->


						<!-- TAB-4 CONTENT -->
						<div id="tab-4" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/dessert-01.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Strawberry Caken</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, soft cheese, icing sugar, butter softened</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/dessert-02.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Belgian Waffle</h5>

											<!-- Description -->
											<p class="grey-color">Berries, Greek yogurt, ice cream, chocolate sauce, peanut butter</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/dessert-03.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Cheesecake</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, double cream, icing sugar, soft cheese, biscuits</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/dessert-04.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.40</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Chocolate Cake</h5>

											<!-- Description -->
											<p class="grey-color">Milk chocolate, icing sugar, cocoa powder, milk, vanilla extract</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


								<!-- MENU ITEM #5 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/dessert-04.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$5.90</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Chocolate Cake</h5>

											<!-- Description -->
											<p class="grey-color">Milk chocolate, icing sugar, cocoa powder, milk, vanilla extract</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #5 -->


								<!-- MENU ITEM #6 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/dessert-03.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.89</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Cheesecake</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, double cream, icing sugar, soft cheese, biscuits</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #6 -->


								<!-- MENU ITEM #7 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">
				
											<!-- Image -->
											<img class="img-fluid" src="{% static 'main/images/menu/dessert-01.png'%}" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$4.75</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>		
											</div>	

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm">Strawberry Caken</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, soft cheese, icing sugar, butter softened</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #7 -->


							</div>  <!-- End row -->	
						</div>	<!-- END TAB-4 CONTENT -->


				 	</div>	<!-- END TABS CONTENT -->


				</div>	   <!-- End container -->
			</section>	<!-- END MENU-8 -->




			<!-- BANNER-4
			============================================= -->
			<section id="banner-4" class="bg-fixed wide-100 banner-section division">
				<div class="container">
			 		<div class="row">


			 			<!-- BANNER TEXT -->
						<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
							<div class="banner-4-txt text-center">

								<!-- Title  -->
								<h4 class="h4-xl">We Guarantee</h4>
								
								<!-- Title  -->
							    <h2>30 Minutes Delivery!</h2>

							    <!-- Text -->	
								<p class="p-lg">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis libero tempus, 
									blandit a cursus varius luctus neque magna
								</p>

								<!-- Call Button -->
								<a href="tel:123456789" class="btn btn-lg btn-red tra-red-hover">Call: 789-654-3210</a>

							</div>
						</div>


			 		</div>      <!-- End row -->
				</div>	    <!-- End container -->		
			</section>	<!-- END BANNER-4 -->

{% endblock content %}