{% extends 'main/base.html' %}
{% load static %}
{% block content %}

			<!-- PAGE HERO
			============================================= -->	
			<div id="product-page" class="page-hero-section division">
				<div class="container">	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-txt text-center white-color">

								<!-- Breadcrumb -->
								<div id="breadcrumb">
									<div class="row">						
										<div class="col">
											<div class="breadcrumb-nav">
												<nav aria-label="breadcrumb">
												  	<ol class="breadcrumb">
												    	<li class="breadcrumb-item"><a href="/">Home</a></li>
												    	<li class="breadcrumb-item"><a href="/menu/">Menu</a></li>
												    	<li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
												  	</ol>
												</nav>
											</div>
										</div>
									</div> 
								</div>

								<!-- Title -->
								<h2 class="h2-xl">{{ product.name }}</h2>

							</div>
						</div>	
					</div>	  <!-- End row -->
				</div>	   <!-- End container --> 
			</div>	<!-- END PAGE HERO -->	




			<!-- SINGLE PRODUCT
			============================================= -->
			<section id="product-1" class="pt-100 single-product division">
				<div class="container">
					<div class="row">


						<!-- PRODUCT IMAGE -->
						<div class="col-lg-7">
							<div class="product-preview">

								
							 	<!-- TABS CONTENT -->
				 				<div class="tabs-content">
									{% for i in product.image_prod.all %}
										<div id="tab-{{i.id}}-img" class="tab-content text-center {% if product.image_prod.first == i %} displayed {% endif %}">
											<img class="img-fluid" src="{{ i.image.url }}" alt="menu-image" />
										</div>
									{% endfor %}

								</div>	<!-- END TABS CONTENT -->


								<!-- TABS NAVIGATION -->
								<div class="tabs-nav">
								 	<div class="row">
										<div class="col-lg-12 text-center">
									 		<ul class="tabs-2 clearfix">

												{% for i in product.image_prod.all %}
													<li class="tab-link {% if product.image_prod.first == i %} displayed {% endif %}" data-tab="tab-{{i.id}}-img">
														<img src="{{ i.image.url }}" alt="menu-image" />
													</li>
												{% endfor %}

											</ul>
										</div>
									</div>	
							 	</div> <!-- END TABS NAVIGATION -->


							</div>
						</div>	<!-- END PRODUCT IMAGE -->


						<!-- PRODUCT DISCRIPTION -->
						<div class="col-lg-5">
							<div class="product-description">

								<!-- TITLE -->
								<div class="project-title">

									<!-- Title -->
									<h2 class="h2-lg">{{ product.name }}</h2>

									<!-- Rating -->
									<div class="stars-rating">
										<span>4.38</span>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<span>(3 Customer Reviews)</span>
									</div>		

									<!-- Price -->
									<div class="project-price">
										<h4 class="h4-xl yellow-color">{% if product.discount %}<span class="old-price">{{ product.price }} $ </span> {{ product.discount }} $ {% else %} {{ product.price }} ${% endif %}</h4>
									</div>

								</div>

								<!-- TEXT -->
								<div class="product-txt">

									<!-- Text -->
									<p class="p-md grey-color">{{ product.description }}
									</p>

									<!-- Product Data -->
									<div class="product-info">
										<p>Portion Size: <span>{{product.portion}}g</span></p>
										<p>Calories: <span>{{ product.callories }}Kj</span></p>
									</div>

									<input class="qty" type="number" min="1" max="20" value="1">

									<!-- Add To Cart -->
									<div class="add-to-cart-btn bg-yellow ico-20 text-center">
										<a href="/add-cart/?id={{product.pk}}&m=cart"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
									</div>

									<!-- List -->	
									<ul class="txt-list">
										<li class="list-item"><p class="p-sm">We accept credit cards or cash to a courier</p></li>
										<li class="list-item"><p class="p-sm">Shipping cost is $2 (Free from $35)</p></li>
										<li class="list-item"><p class="p-sm">Order before noon for same day dispatch</p></li>
									</ul>

								</div>	<!-- END TEXT-->

							</div>
						</div>	<!-- END PRODUCT DISCRIPTION -->


					</div>	  <!-- End row -->
				</div>	   <!-- End container --> 
			</section>	<!-- END SINGLE PRODUCT -->




			<!-- SINGLE PRODUCT DATA
			============================================= -->
			<section id="product-1-data" class="wide-80 single-product-data division">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="">


								<!-- TABS NAVIGATION -->
								<div class="tabs-nav">
								 	<div class="row">
										<div class="col-lg-12 text-center">
									 		<ul class="tabs-1 clearfix">

									 			<!-- TAB-1 LINK -->
												<li class="tab-link current" data-tab="tab-1">
													<h5 class="h5-sm">Description</h5>
												</li>

												<!-- TAB-2 LINK -->
												<li class="tab-link" data-tab="tab-2">
													<h5 class="h5-sm">Reviews (3)</h5>
												</li>

											</ul>
										</div>
									</div>	
							 	</div> <!-- END TABS NAVIGATION -->


							 	<!-- TABS CONTENT -->
				 				<div class="tabs-content">


				 					<!-- TAB-1 CONTENT -->
									<div id="tab-1" class="tab-content current">

										<!-- Text -->
										<p>Donec sodales, nibh vel tristique aliquet, nisi libero suscipit diam, sed tempus ante nulla ut purus. 
										   Donec dolor magna aliquet suscipit in magna dignissim, porttitor hendrerit. Nunc gravida ultrices a felis eget faucibus. Praesent lorem purus, quis mollis nisi laoreet vitae consequat tortor
										</p>

										<!-- List -->	
										<ul class="txt-list">

											<li class="list-item">
												<p><span class="txt-500">Quaerat sodales sapien undo euismod purus blandit velna</span> vitae auctor 
												   a congue magna tempor sapien eget gravida laoreet turpis urna augue, viverra a augue eget, dictum tempor diam pulvinar consectetur purus efficitur ipsum primis in cubilia laoreet augue donec
												</p>
											</li>

											<li class="list-item">
												<p><span class="txt-500">Nemo ipsam egestas volute turpis dolores</span> ut aliquam quaerat sodales
												   sapien congue augue egestas volutpat egestas magna suscipit egestas magna ipsum vitae purus 
												   efficitur ipsum primis in cubilia undo pretium a purus pretium ligula
												</p>
											</li>

										</ul>

										<!-- Text -->
										<p>Aliqum  mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor congue magna
										   nihil impedit ligula risus. Mauris donec ociis et magnis sapien sagittis sapien sem congue tempor gravida donec enim ipsum porta justo integer odio velna a purus efficitur ipsum primis in cubilia laoreet augue egestas luctus donec purus and blandit sodales mpedit ligula risus. Mauris donec ociis et magnis sapien
										</p>

									</div>	<!-- END TAB-1 CONTENT -->


									<!-- TAB-2 CONTENT -->
									<div id="tab-2" class="tab-content">


										<!-- TESTIMONIAL #1 -->
										<div class="review-2 b-bottom">

											<!-- Testimonial Author Avatar -->
											<div class="review-2-avatar">
												<img src="{% static 'main/images/review-author-1.jpg'%}" alt="testimonial-avatar">
											</div>

											<!-- Testimonial Text -->
											<div class="review-2-txt">

												<!-- Rating -->
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>	

												<!-- Testimonial Author -->
												<div class="review-info clearfix">
													<h5 class="h5-xs">Sean McMarthy</h5>
													<span class="grey-color">December 4, 2020</span>
												</div>
					
												<!-- Text -->
												<p>Etiam sapien sem at sagittis congue an augue massa varius egestas a suscipit magna tempus
											       an aliquet porta	vitae auctor aliqum  mullam blandit tempor sapien gravida congue eros magna
											       nihil impedit tempor. Semper lacus cursus porta lectus enim ipsum	 			   
												</p>

											</div>	

										</div>	<!--END  TESTIMONIAL #1 -->


										<!-- TESTIMONIAL #3 -->
										<div class="review-2 b-bottom">

											<!-- Testimonial Author Avatar -->
											<div class="review-2-avatar">
												<img src="{% static 'main/images/review-author-4.jpg'%}" alt="testimonial-avatar">
											</div>

											<!-- Testimonial Text -->
											<div class="review-2-txt">

												<!-- Rating -->
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>	

												<!-- Testimonial Author -->
												<div class="review-info clearfix">
													<h5 class="h5-xs">Leslie Serpas</h5>
													<span class="grey-color">November 28, 2020</span>
												</div>
					
												<!-- Text -->
												<p>Etiam sapien sem at sagittis congue an augue massa varius egestas a suscipit magna tempus
											       aliquet porta vitae auctor aliqum mullam blandit tempor sapien gravida congue eros magna
											       nihil impedit tempor lacus 			   
												</p>

											</div>	

										</div>	<!--END  TESTIMONIAL #2 -->


										<!-- TESTIMONIAL #3 -->
										<div class="review-2">

											<!-- Testimonial Author Avatar -->
											<div class="review-2-avatar">
												<img src="{% static 'main/images/review-author-3.jpg'%}" alt="testimonial-avatar">
											</div>

											<!-- Testimonial Text -->
											<div class="review-2-txt">

												<!-- Rating -->
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>	

												<!-- Testimonial Author -->
												<div class="review-info clearfix">
													<h5 class="h5-xs">Robert Peterson</h5>
													<span class="grey-color">November 11, 2020</span>
												</div>
					
												<!-- Text -->
												<p>Etiam sapien sem at sagittis congue an augue massa varius egestas a suscipit magna tempus
											       an aliquet porta	vitae auctor aliqum  mullam blandit tempor sapien gravida congue eros magna
											       nihil impedit tempor. Semper lacus cursus porta lectus enim ipsum feugiat primis in ultrice
									   			   ligula tempus undo auctor ipsum and mauris lectus enim ipsum	 			   
												</p>

											</div>	

										</div>	<!--END  TESTIMONIAL #3 -->


									</div>	<!-- END TAB-2 CONTENT -->
										

				 				</div>	<!-- END TABS CONTENT -->


							</div>
						</div>
					</div>	  <!-- End row -->
				</div>	   <!-- End container --> 
			</section>	<!-- END SINGLE PRODUCT DATA -->




			<!-- MENU-6
			============================================= -->
			<section id="menu-6" class="bg-lightgrey wide-70 menu-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="section-title mb-60 text-center">	

								<!-- Title 	-->	
								<h2 class="h2-xl">Related Products</h2>	

								<!-- Text -->	
								<p class="p-xl">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor 
								   primis libero tempus, blandit a cursus varius magna
								</p>
									
							</div>	
						</div>
					</div>


					<div class="row">


						<!-- MENU ITEM #1 -->
						<div class="col-sm-6 col-lg-3">
							<div class="menu-6-item bg-white">

								<!-- IMAGE -->
								<div class="menu-6-img rel">
									<div class="hover-overlay">

										<!-- Image -->
										<img class="img-fluid" src="{% static 'main/images/menu/burger-11.jpg'%}" alt="menu-image" />

										<!-- Item Code -->
										<span class="item-code bg-tra-dark">Code: 0850</span>	

										<!-- Zoom Icon -->
										<div class="menu-img-zoom ico-25">
											<a href="{% static 'main/images/menu/burger-11.jpg'%}" class="image-link">
												<span class="flaticon-zoom"></span>
											</a>
										</div> 

									</div>
								</div>

								<!-- TEXT -->
								<div class="menu-6-txt rel">

									<!-- Rating -->	
									<div class="item-rating">
										<div class="stars-rating stars-lg">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star-half-alt"></i>
										</div>		
									</div>

									<!-- Like Icon -->
									<div class="like-ico ico-25">
										<a href="#"><span class="flaticon-heart"></span></a>
									</div>

									<!-- Title -->
									<h5 class="h5-sm">Crispy Chicken</h5>

									<!-- Description -->	
									<p class="grey-color">Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>

									<!-- Price -->
									<div class="menu-6-price bg-coffee">
										<h5 class="h5-xs yellow-color">$8.50</h5>
									</div>

									<!-- Add To Cart -->
									<div class="add-to-cart bg-yellow ico-10">
										<a href="#"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
									</div>

								</div>

							</div>
						</div>	<!-- END MENU ITEM #1 -->


						<!-- MENU ITEM #2 -->
						<div class="col-sm-6 col-lg-3">
							<div class="menu-6-item bg-white">

								<!-- IMAGE -->
								<div class="menu-6-img rel">
									<div class="hover-overlay">

										<!-- Image -->
										<img class="img-fluid" src="{% static 'main/images/menu/burger-12.jpg'%}" alt="menu-image" />

										<!-- Item Code -->
										<span class="item-code bg-tra-dark">Code: 0858</span>	

										<!-- Zoom Icon -->
										<div class="menu-img-zoom ico-25">
											<a href="{% static 'main/images/menu/burger-12.jpg'%}" class="image-link">
												<span class="flaticon-zoom"></span>
											</a>
										</div> 

									</div>
								</div>

								<!-- TEXT -->
								<div class="menu-6-txt rel">

									<!-- Rating -->	
									<div class="item-rating">
										<div class="stars-rating stars-lg">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="far fa-star"></i>
										</div>		
									</div>

									<!-- Like Icon -->
									<div class="like-ico ico-25">
										<a href="#"><span class="flaticon-heart"></span></a>
									</div>

									<!-- Title -->
									<h5 class="h5-sm">Ultimate Bacon</h5>

									<!-- Description -->	
									<p class="grey-color">House beef patty, cheddar cheese, bacon, onion, mustard</p>

									<!-- Price -->
									<div class="menu-6-price bg-coffee">
										<h5 class="h5-xs yellow-color">$9.99</h5>
									</div>

									<!-- Add To Cart -->
									<div class="add-to-cart bg-yellow ico-10">
										<a href="#"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
									</div>

								</div>

							</div>
						</div>	<!-- END MENU ITEM #2 -->


						<!-- MENU ITEM #3 -->
						<div class="col-sm-6 col-lg-3">
							<div class="menu-6-item bg-white">

								<!-- IMAGE -->
								<div class="menu-6-img rel">
									<div class="hover-overlay">

										<!-- Image -->
										<img class="img-fluid" src="{% static 'main/images/menu/burger-13.jpg'%}" alt="menu-image" />

										<!-- Item Code -->
										<span class="item-code bg-tra-dark">Code: 0847</span>	

										<!-- Zoom Icon -->
										<div class="menu-img-zoom ico-25">
											<a href="{% static 'main/images/menu/burger-13.jpg'%}" class="image-link">
												<span class="flaticon-zoom"></span>
											</a>
										</div> 

									</div>
								</div>

								<!-- TEXT -->
								<div class="menu-6-txt rel">

									<!-- Rating -->	
									<div class="item-rating">
										<div class="stars-rating stars-lg">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
										</div>		
									</div>

									<!-- Like Icon -->
									<div class="like-ico ico-25">
										<a href="#"><span class="flaticon-heart"></span></a>
									</div>

									<!-- Title -->
									<h5 class="h5-sm">Black Sheep</h5>

									<!-- Description -->	
									<p class="grey-color">American cheese, tomato relish, avocado, lettuce, red onion</p>

									<!-- Price -->
									<div class="menu-6-price bg-coffee">
										<h5 class="h5-xs yellow-color">$9.75</h5>
									</div>

									<!-- Add To Cart -->
									<div class="add-to-cart bg-yellow ico-10">
										<a href="#"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
									</div>

								</div>

							</div>
						</div>	<!-- END MENU ITEM #3 -->


						<!-- MENU ITEM #4 -->
						<div class="col-sm-6 col-lg-3">
							<div class="menu-6-item bg-white">

								<!-- IMAGE -->
								<div class="menu-6-img rel">
									<div class="hover-overlay">

										<!-- Image -->
										<img class="img-fluid" src="{% static 'main/images/menu/burger-14.jpg'%}" alt="menu-image" />

										<!-- Item Code -->
										<span class="item-code bg-tra-dark">Code: 0859</span>	

										<!-- Zoom Icon -->
										<div class="menu-img-zoom ico-25">
											<a href="{% static 'main/images/menu/burger-14.jpg'%}" class="image-link">
												<span class="flaticon-zoom"></span>
											</a>
										</div> 

									</div>
								</div>

								<!-- TEXT -->
								<div class="menu-6-txt rel">

									<!-- Rating -->	
									<div class="item-rating">
										<div class="stars-rating stars-lg">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star-half-alt"></i>
										</div>		
									</div>

									<!-- Like Icon -->
									<div class="like-ico ico-25">
										<a href="#"><span class="flaticon-heart"></span></a>
									</div>

									<!-- Title -->
									<h5 class="h5-sm">Double Burger</h5>

									<!-- Description -->	
									<p class="grey-color">2 beef patties, cheddar cheese, mustard, pickles, tomatoes</p>

									<!-- Price -->
									<div class="menu-6-price bg-coffee">
										<h5 class="h5-xs yellow-color">$10.35</h5>
									</div>

									<!-- Add To Cart -->
									<div class="add-to-cart bg-yellow ico-10">
										<a href="#"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
									</div>

								</div>

							</div>
						</div>	<!-- END MENU ITEM #4 -->


					</div>	  <!-- End row -->	
				</div>	   <!-- End container -->
			</section>	<!-- END MENU-6 -->
{% endblock content %}